.App {
  /*text-align: center;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 2rem;
  color: white;
}

select {
  padding: 0.5rem;
  min-width: 5rem;
}

.pickers {
}

.picker {
  display: inline-flex;
  flex-direction: column;
  margin: 0 0.5rem 0 0;
}

.picker label {
  margin-bottom: 0.25rem;
}

pre {
  background: black;
  color: limegreen;
  padding: 2rem;
}

.display {
  background: white;
  color: black;
  font-size: 2rem;
  padding: 2rem;
}

h2, h3 {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
